body {
    background-image: url(https://subtlepatterns.com/patterns/weather.png);
    
    }
       
    .scores {
        text-align: center;
    }
    
    
             .content-wrapper {
                background-color: white;
                text-align: center;
                border: 1px solid rgb(151, 222, 255);
                margin: 80px 15% 0 15%;
                padding: 0;
                height: 715px;
                position:absolute;
                width: 70%;
                border-radius: 5px;
    
            }
    
            .header {
                border-bottom: 1px solid rgb(151, 222, 255);
                height: 60px;
    
               
            }
    
            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 37px;
                color:rgb(37, 37, 37);
                margin-top: 30px;
            }
    
            h2 {
                margin-top: 30px;
                font-family: 'Roboto', sans-serif;
                color:rgb(54, 54, 54);
                font-size: 25px;
    
            }
    
            h3 {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                color:rgb(74, 213, 255);
    
            }
    
            .instruction {
                margin-top: 40px;
                margin-bottom: 75px;
                text-align:center;
                
            }
    
            .frenchiepic {
                float:left;
                margin-top: 323px;
                position:fixed;
            }
    
            #wins {
                float:right;
                margin-right:200px;
                margin-top:200px;
    
            }
    
           .counters {
               text-align: center;
               margin-top:25px;
           }
    